@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: oklch(0.96 0 0);
  --color-foreground: oklch(0.13 0 0);

  --color-primary: oklch(0.1 0 0);
  --color-primary-foreground: oklch(0.96 0 0);

  --color-border: oklch(0.85 0 0);
  --color-muted: oklch(0.9 0 0);
  --color-ring: oklch(0.6 0 0);
}
